@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    color: #fefefe;
}
::-webkit-scrollbar{
    display: none;
}

body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#198cd3,#4d1f47);
}



